<template>
    <div class="create_product">
        <div class="container_create_product">
            <h2 class="mb-3">Registrar Producto</h2>
            <form v-on:submit.prevent="processCreateProduct" id="form">
                <input type="text" v-model="product.nombre" class="form-control mb-2" placeholder="Nombre" autocomplete="off">
                <input type="number" v-model="product.precio" class="form-control mb-2" placeholder="Precio" autocomplete="off">                
                <input type="number" v-model="product.existencias" class="form-control mb-2" placeholder="Existencias" autocomplete="off">
                <select class="form-control mb-2" v-model="product.id_categoria">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <button type="submit" class="btn btn-dark full-width">Enviar</button>                
            </form>
        </div>        
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "CreateProduct",
    data: function(){
        return {
            product: {
                nombre: "",
                precio: 0,
                existencias: 0,
                id_categoria: 0
            }
            
        }        
},
methods: {
    processCreateProduct: function(){
        axios.post("https://tic-electronics-be.herokuapp.com/producto/",this.product,{headers: { },})
        .then(() => {
            alert("Registro Exitoso");
            document.getElementById('form').reset();
        })
        .catch((error) => {
            console.log(error)
            alert("ERROR: Fallo en el registro.");
        });     
        }
    }
}
</script>

<style>
    .create_product{
        padding: 0%;
        height: 88vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2px;
    }
    .container_create_product {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .create_product h2{
        color: #283747;
    }
    .create_product form{
        width: 70%;
    }     
    .full-width{
        width: 100%;
    }    
    .btn-dark{
        background-color: #1a1a1a;
        color: #fff;
        border:2px solid #1a1a1a; 
    }
    .form-control{
        font-size: 14px;
        border: 1px solid #cacaca;
        padding: 15px;
        border-radius: 2px;
        height: auto;
    }
    .form-control:focus{
        border: 1px solid #1a1a1a;
        outline: none;
        box-shadow: none;
    }
.actions {
  margin: auto 0px;
}
</style>