<template>
    <div class="create_sale">
        <div class="container_create_sale">
            <h2 class="mb-3">Registrar Venta</h2>
            <form v-on:submit.prevent="processCreateSale" id="form">
                <input type="number" class="form-control mb-2" placeholder="Cantidad" id="cantidad" autocomplete="off">
                <input type="number" class="form-control mb-2" placeholder="Valor" id="valor" autocomplete="off">                
                <input type="file" class="form-control mb-2" placeholder="Factura" id="factura" autocomplete="off">
                <button type="submit" class="btn btn-dark full-width">Enviar</button>                
            </form>
        </div>        
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "CreateProduct",
    data: function(){
        return {
            id: 0,            
        }        
},
methods: {
    recuperarParametro: function () {
        this.id = this.$route.params
    },
    processCreateSale: function(){      
        var file = document.getElementById('factura').files[0];
        var ajax = new XMLHttpRequest;
        var formData = new FormData;
        formData.append('factura', file);
        formData.append('id_usuario', 1);
        ajax.addEventListener('load', generadaFactura, false);
        ajax.open('POST', 'https://tic-electronics-be.herokuapp.com/factura/', true);
        ajax.send(formData);         
        function generadaFactura(event) {
            var fact = JSON.parse(event.target.responseText)
            const sale = {
                "cantidad": document.getElementById('cantidad').value,
                "valor": document.getElementById('valor').value,
                "id_factura": fact.id,
                "id_producto": 1
            }
            axios.post("https://tic-electronics-be.herokuapp.com/venta/",sale,{headers: { },})
            .then(() => {
            alert("Registro Exitoso");
            document.getElementById('form').reset();
            })
            .catch((error) => {
            console.log(error)
            alert("ERROR: Fallo en el registro.");
            });     
            }
        }
        
    },
    created: async function () {
    this.recuperarParametro();
  },
}
</script>

<style>
    .create_sale{
        padding: 0%;
        height: 88vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2px;
    }
    .container_create_sale {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .create_sale h2{
        color: #283747;
    }
    .create_sale form{
        width: 70%;
    }     
    .full-width{
        width: 100%;
    }    
    .btn-dark{
        background-color: #1a1a1a;
        color: #fff;
        border:2px solid #1a1a1a; 
    }
    .form-control{
        font-size: 14px;
        border: 1px solid #cacaca;
        padding: 15px;
        border-radius: 2px;
        height: auto;
    }
    .form-control:focus{
        border: 1px solid #1a1a1a;
        outline: none;
        box-shadow: none;
    }
</style>