<template>
    <div class="create_user">
        <div class="container_create_user">
            <h2 class="mb-3">Registrar Usuario</h2>
            <form v-on:submit.prevent="processCreateUser" id="form">
                <input type="text" v-model="user.nombre" class="form-control mb-2" placeholder="Nombre" autocomplete="off">
                <input type="password" v-model="user.password" class="form-control mb-2" placeholder="Contraseña" autocomplete="off">
                <select class="form-control mb-2" v-model="user.rol">
                    <option>Administrador</option>
                    <option>Vendedor</option>
                </select>
                <input type="number" v-model="user.numero_celular" class="form-control mb-2" placeholder="Celular" autocomplete="off">
                <button type="submit" class="btn btn-dark full-width">Enviar</button>                
            </form>
        </div>        
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "CreateUser",
    data: function(){
        return {
            user: {
                nombre: "",
                password: "",
                rol: "",
                numero_celular: ""
            }
            
        }        
},
methods: {
    processCreateUser: function(){        
        axios.post("https://tic-electronics-be.herokuapp.com/user/",this.user,{headers: {}})
        .then(() => {
            alert("Registro Exitoso");
            document.getElementById('form').reset();
        })
        .catch((error) => {
            console.log(error)
            alert("ERROR: Fallo en el registro.");
        });     
        }
    }
}
</script>

<style>
    .create_user{
        padding: 0%;
        height: 88vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2px;
    }
    .container_create_user {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .create_user h2{
        color: #283747;
    }
    .create_user form{
        width: 70%;
    }     
    .full-width{
        width: 100%;
    }    
    .btn-dark{
        background-color: #1a1a1a;
        color: #fff;
        border:2px solid #1a1a1a; 
    }
    .form-control{
        font-size: 14px;
        border: 1px solid #cacaca;
        padding: 15px;
        border-radius: 2px;
        height: auto;
    }
    .form-control:focus{
        border: 1px solid #1a1a1a;
        outline: none;
        box-shadow: none;
    }
.actions {
  margin: auto 0px;
}
</style>