<template>
    <section id="hero">
        <div class="container">
          <div class="content-center topmargin-lg">
            <h1>
              Mantente actualizado con lo último en tecnología y periféricos con
              Tic's Electronics.
            </h1>
            <p>Aprovecha las mejores ofertas del mercado.</p>
            <a class="btn btn-light topmargin-sm" v-on:click="loadProductsC"><i class="fas fa-angle-double-right"></i> Ver productos</a>
          </div>
        </div>
      </section>
      <section id="aboutus" class="bg-light-gray">
        <div class="container">
          <div class="content-center">
            <h2>Conoce a nuestro<b> equipo.</b></h2>
            <p>MinTIC Grupo 35 - Tic's Electronics.</p>
          </div>
          <div class="row">
            <div class="col">
              <div class="member-container">
                <div class="member-details">
                  <h5>Camilo Ortiz</h5>
                  <span>Scrum Master</span>
                </div>
                <img src="@/assets/camilo.jpg" alt="member 1" class="img-fluid" />
              </div>
            </div>
            <div class="col">
              <div class="member-container">
                <div class="member-details" style="color: azure">
                  <h5>Laura Ruiz</h5>
                  <span>Product Owner</span>
                </div>
                <img src="@/assets/laura.jpeg" alt="member 2" class="img-fluid" />
              </div>
            </div>
            <div class="col">
              <div class="member-container">
                <div class="member-details" style="color: azure">
                  <h5>Juan Quevedo</h5>
                  <span>Developer</span>
                </div>
                <img src="@/assets/juan.jpeg" alt="member 3" class="img-fluid" />
              </div>
            </div>
            <div class="col">
              <div class="member-container">
                <div class="member-details" style="color: azure">
                  <h5>Cristina Salamanca</h5>
                  <span>Developer</span>
                </div>
                <img src="@/assets/cristina.jpeg" alt="member 4" class="img-fluid" />
              </div>
            </div>
            <div class="col">
              <div class="member-container">
                <div class="member-details" style="color: azure">
                  <h5>Johan Bernal</h5>
                  <span>Developer</span>
                </div>
                <img src="@/assets/johan.jpeg" alt="member 5" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </section>
</template>
<script>
export default {
  name: "Home",
  methods: {
    loadProductsC: function() {
			this.$router.push({ name: "productsC" });
		},
  }
}
</script>
<style>
h1{
	font-size: 66px;
	font-weight: 600;
	line-height: 80px;
}
h2{
	font-size: 48px;
	margin-bottom: 30px;
}
h3{
	font-size: 33px;
}
h5{
	margin-bottom: 0px;
}
p{
	font-size: 18px;
	color: #999;
	line-height: 1.8;
	margin-bottom: 0;
}
a:hover{
	text-decoration: none;
}
li a ion-icon{
	font-size: 18px;
	color: #fff; 
}
.bg-light-gray{
	background-color: #f5f5f5;
}
section{
	padding: 120px 0;
}
.btn{
	font-size: 14px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block; 
}
.btn-light{
	background-color: #fff;
	color: #1a1a1a;
	border: 2px solid #fff;
	font-weight: bold;
	font-size: 15px;
}
#hero{
	background-image: url('../assets/girl.jpg');
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: #fff;
}
#hero p{
	color: #fff;
}
#hero i{
	font-size: 16px;
	vertical-align: middle;
}
.content-center{
	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
</style>