<template v-if="loaded">
  <div class="greetings">
    <h1>
      ¡Bienvenido <span> {{ nombre }} </span>!
    </h1>
    <div class="inform">
      <h1>Información de su cuenta</h1>
      <h2>
        Rol: <span>{{ rol }}</span>
      </h2>
      <h2>
        Numero Celular: <span>{{ numero_celular }}</span>
      </h2>
      <h2>
        Fecha de Ingreso: <span>{{ fecha_ingreso }}</span>
      </h2>
    </div>
    <div class="actions" v-if="rol == 'Administrador'">
      <a class="btn btn-dark mx-2" v-on:click="loadCreateUser">Usuarios</a>
      <a class="btn btn-dark mx-2" v-on:click="loadCreateProduct">Productos</a>
    </div>
    <div class="actions" v-if="rol == 'Vendedor'">
      <a class="btn btn-dark mx-2" v-on:click="loadCreateSale">Ventas</a>
    </div>
  </div>
</template>
<script>
import jwt_decode from "jwt-decode";
import axios from "axios";

export default {
  name: "Home",
  data: function () {
    return {
      nombre: localStorage.getItem("nombre") || "none",
      is_auth: localStorage.getItem("isAuth"),
      id: 0,
      rol: "",
      numero_celular: "",
      fecha_ingreso: "",
      loaded: false,
    };
  },
  methods: {    
    getData: async function () {
      if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();
      axios.get(`https://tic-electronics-be.herokuapp.com/user/${userId}/`, {headers: {}})
        .then((result) => {
          this.id = result.data.id;
          this.rol = result.data.rol;
          localStorage.setItem("rol", this.rol)
          this.numero_celular = result.data.numero_celular;
          this.fecha_ingreso = result.data.fecha_ingreso;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    verifyToken: function () {
      return axios.post("https://tic-electronics-be.herokuapp.com/refresh/",{ refresh: localStorage.getItem("token_refresh") },{ headers: {} })
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    loadCreateUser: function () {
      this.$router.push({name: "createUser"});
    },
    loadCreateProduct: function () {
      this.$router.push({name: "createProduct"});
    },
    loadCreateSale: function () {
      this.$router.push({name: "createSale", params : this.id});
    },
  },
  created: async function () {
    this.getData();
  },
};
</script>

<style>
.greetings {
  height: 88vh;
  padding: 0%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.greetings h1 {
  font-size: 50px;
  color: #283747;
  text-align: center;
}
.greetings span {
  color: crimson;
  font-weight: bold;
}
.inform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inform h1 {
  font-size: 60px;
  color: #0f1316;
}
.inform h2 {
  font-size: 40px;
  color: #283747;
}
.inform span {
  color: crimson;
  font-weight: bold;
}
.actions {
  margin: auto;
}
</style>