<template>
	<div class="logIn_user">
		<div class="container_logIn_user">
			<h2>Iniciar sesión</h2>
			<span class="mb-3" v-if="intents > 0">Tienes {{intents}} intentos.</span>
			<span class="mb-3" v-if="intents == 0">Detectado!!! NO eres de los nuestros.</span>
			<form v-on:submit.prevent="processLogInUser" >
				<input type="text" v-model="user.nombre" class="form-control mb-2" placeholder="Nombre" autocomplete="off">
                <input type="password" v-model="user.password" class="form-control mb-2" placeholder="Contraseña" autocomplete="off">
                <button type="submit" class="btn btn-dark full-width" id="enviar">Entrar</button>
			</form>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
export default {
	name: "LogIn",
	data: function(){
		return {
			user: {
				nombre:"",
				password:"",
			},
			intents: 3,
		}
	},
	methods: {
		processLogInUser: function(){
			axios.post("https://tic-electronics-be.herokuapp.com/login/",this.user,{headers: {}})
			.then((result) => {
				let dataLogIn = {
					nombre: this.user.nombre,
					token_access: result.data.access,
					token_refresh: result.data.refresh,
				}
				this.$emit('completedLogIn', dataLogIn)
			})
			.catch((error) => {
				if (error.response.status == "401")
				alert("ERROR 401: Credenciales Incorrectas.");
				this.intents -= 1;
				this.verifyIntent();
			});
		},
		verifyIntent: function(){
			if (this.intents == 0) {
				let btn = document.getElementById('enviar');
				btn.setAttribute('disabled', "true");
			}
		}
	}
}
</script>

<style>
	.logIn_user{
		height: 88vh;
		margin: 0;
		padding: 0%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.container_logIn_user {
		border: 3px solid #283747;
		border-radius: 10px;
		width: 25%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.logIn_user h2, .container_logIn_user span{
		color: #283747;
	}
	.logIn_user form{
		width: 70%;
	}    
    .full-width{
        width: 100%;
    }    
    .btn-dark{
        background-color: #1a1a1a;
        color: #fff;
        border:2px solid #1a1a1a; 
    }
    .form-control{
        font-size: 14px;
        border: 1px solid #cacaca;
        padding: 15px;
        border-radius: 2px;
        height: auto;
    }
    .form-control:focus{
        border: 1px solid #1a1a1a;
        outline: none;
        box-shadow: none;
    }	
</style>