<template>
  <div class="list">
    <div class="row content-center">
      <div class="col" style="min-width: 250px" v-for="product in products" :key="product">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-header bg-success">{{product.nombre}}</div>
            <div class="card-body mt-0">
              <h5 class="card-title text-dark mb-2">Categoria: {{product.id_categoria}}</h5>
              <p class="card-text mb-2">Precio: {{product.precio}}</p>
              <p class="card-text">Existencias: {{product.existencias}}</p>
              <div class="d-flex" v-if="rol =='Administrador'">
                <a class="w-50 btn-dark text-decoration-none" v-on:click="updateProduct(product)">Actualizar</a>
                <a class="w-50 btn-info text-decoration-none" v-on:click="deleteProduct(product)">Borrar</a>
              </div>             
            </div>
        </div>
      </div>
    </div>    
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: "CreateUser",
  data: function(){
    return {
    products: [],
    rol: ""
    }
  },
  methods: {
    getData: async function () {
      if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
          console.log("hola");
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();
      axios.get(`https://tic-electronics-be.herokuapp.com/productos/`, {headers: {},})
        .then((result) => {
          var request = result.data
          this.products = request
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    verifyToken: function () {
      return axios.post("https://tic-electronics-be.herokuapp.com/refresh/",{ refresh: localStorage.getItem("token_refresh") },{ headers: {} })
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    deleteProduct: function (product) {
      return axios.delete(`https://tic-electronics-be.herokuapp.com/producto/${product.id}/`, {headers: {},})
      .then(() => {
          alert("Borrado con exito")
        })
        .catch(() => {
          alert('Algo ha salido mal...');
        });
    },
    updateProduct: function (product) {
      this.$router.push({ name: "productUpdate", params: product})
    },
  },
  created: async function () {
    this.getData();
    this.rol = localStorage.getItem("rol")
  },
};
</script>
<style>
.list {
  padding: 0%;
  margin-top: 5%;
  min-height: 78vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basis{
  flex-basis: 10px;
}
</style>