<template>
    <div class="update_product">
        <div class="container_update_product">
            <h2 class="mb-3">Actualizar Producto</h2>
            <form v-on:submit.prevent="processUpdateProduct" id="form">
                <input type="text" v-model="product.nombre" class="form-control mb-2" placeholder="Nombre" autocomplete="off">
                <input type="number" v-model="product.precio" class="form-control mb-2" placeholder="Precio" autocomplete="off">                
                <input type="number" v-model="product.existencias" class="form-control mb-2" placeholder="Existencias" autocomplete="off">
                <select class="form-control mb-2" v-model="product.id_categoria">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <button type="submit" class="btn btn-dark full-width">Enviar</button>                
            </form>
        </div>        
    </div>
</template>
<script>
import axios from 'axios';
export default {
    name: 'ProductUpdate',
	data: function(){
		return{
			product: {},
		}
	},
    methods: {
        recuperarParametro: function () {
            this.product = this.$route.params
        },
        processUpdateProduct: function () {
            const newData = {
                "nombre": this.product.nombre,
                "precio": this.product.precio,
                "existencias": this.product.existencias,
                "id_categoria": this.product.id_categoria
            }
            axios.put(`https://tic-electronics-be.herokuapp.com/producto/${this.product.id}/`, newData ,{headers: {}})
            .then(() => {
                alert("Registro Exitoso");
                document.getElementById('form').reset();
            })
            .catch((error) => {
                console.log(error)
                alert("ERROR: Fallo en el registro.");
            });
        }
    },
    created: function (){
        this.recuperarParametro();
    }
}
</script>
<style>
.update_product{
        padding: 0%;
        height: 88vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2px;
    }
    .container_update_product {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .update_product h2{
        color: #283747;
    }
    .update_product form{
        width: 70%;
    }     
    .full-width{
        width: 100%;
    }    
    .btn-dark{
        background-color: #1a1a1a;
        color: #fff;
        border:2px solid #1a1a1a; 
    }
</style>