<template>
    <section id="portfolio">
      <div class="container-fluid">
        <div class="content-center">
          <h2>Somos una empresa colombiana dedicada a ofrecer las <b>mejores ofertas en tecnología.</b></h2>
          <p>Trabajamos con empeño para ofrecer los mejores productos y el mejor servicio.</p>
        </div>
        <div class="row">
          <div class="col" v-for="product in products" :key="product"  style="max-width: 500px;">
            <div class="portfolio-container">
              <div class="portfolio-details">
                <h2>{{product.nombre}}</h2>
                <p>$ {{product.precio}}</p>
                <a class="btn btn-outline-info" v-on:click="sendData(product)">Comprar</a>    
              </div>
              <img v-if="product.id_categoria == 1" src="@/assets/pc.jpeg" alt="portfolio 1" class="img-fluid">
              <img v-if="product.id_categoria == 2" src="@/assets/cel.png" alt="portfolio 2" class="img-fluid">
              <img v-if="product.id_categoria == 3" src="@/assets/tablet.png" alt="portfolio 3" class="img-fluid">
              <img v-if="product.id_categoria == 4" src="@/assets/peri.png" alt="portfolio 4" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </section>
</template>
<script>
import axios from 'axios';
export default {
  name: "CreateUser",
  data: function(){
    return {
    products: []
    }
  },
  methods: {
    getData: async function () {
      axios.get(`https://tic-electronics-be.herokuapp.com/productos/`, {headers: {},})
        .then((result) => {
          var request = result.data
          this.products = request
        })
        .catch(() => {
          alert('No se han podido cargar los productos')
        });
    },
    sendData: function (product){
        this.$router.push({ name: "sale", params: product })
    }
  },
  created: async function () {
    this.getData();
  },
};
</script>
<style>
section {
    padding: 167px 0px 0px 0px;
}
.portfolio-container{
		position: relative;
		overflow: hidden;
		margin: 10px 0;
		border-radius: 2px;
	}
	.portfolio-details{
		position: absolute;
		bottom: 25px;
		left: 25px;
		z-index: 9000;
	}
	.portfolio-details p{
		color: #000;        
	}
	.portfolio-container img{
		-moz-transition: all 0.8s;
		-webkit-transition: all 0.8s;
		transition: all 0.8s;	
	    transition: all 0.8s;	
		transition: all 0.8s;	
	}
    .img-fluid {
		max-width: 100%;
		height: auto;
	}.portfolio-container:hover img{
		-moz-transform: scale(1.2) ;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
  @media (max-width: 575.98px) { }
	@media (max-width: 575.98px) { }
	@media (max-width: 575.98px) { 
		h1{
			font-size: 40px;
			line-height: normal;
		}
		.plans{
			min-width: unset;
			padding: 40px;
		}
		.portfolio-details h2{
			font-size: 32px;
		}
		.carousel-item p{
			font-size: 20px;		
		font-size: 20px;		
			font-size: 20px;		
		}
		.footer-menu{
			display: block !important;
			padding: 20px 0 !important;
			font-size: 20px;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.plans{
			min-width: unset;
			padding: 40px 20px;
		}
		.portfolio-details h2{
			font-size: 30px;
		}
		.footer-menu{
			display: block !important;
			padding: 20px 0 !important;
			font-size: 20px;
		}
	}
</style>