<template>    
    <div class="sale">            
        <iframe width="800" height="600" v-if="true" :src="doc"></iframe>        
    </div>
    <div class="d-flex">
        <div class="mx-auto">
            <p class="text-danger">Para confirmar la compra adjunte la pre-factura generada</p>
            <input type="file" id="factura">
            <br>
            <button class="btn btn-dark mb-1" style="margin: 5px 150px;" v-on:click="confirmSale(product)">Confirmar</button>
        </div>
    </div>
</template>
<script>
import { jsPDF } from "jspdf";
import axios from 'axios';
export default {
    name: 'ProductV',
	data: function(){
		return{
			product: null,
            doc: null,
		}
	},
    methods: {
        recuperarParametro: function () {
            this.product = this.$route.params
            const doc = new jsPDF();
            doc.text("Factura",20,20);
            var fecha = new Date().toJSON().slice(0,10).replace(/-/g,'/');
            doc.text(fecha,165,20)
            doc.setFontSize(12)
            doc.text("Producto:",20,40);
            doc.setFontSize(16)
            doc.text("Nombre:",20,50)
            doc.text(this.product.nombre,45,50)
            doc.text("Precio:",20,60)
            doc.text(this.product.precio.toString(),40,60)
            doc.text("Cantidad:",20,70)
            doc.text("1",45,70)
            this.doc = doc.output("dataurlstring");
            doc.save("pre-factura.pdf")
        },
        confirmSale: function (product) {
            var file = document.getElementById('factura').files[0];
            var ajax = new XMLHttpRequest;
            var formData = new FormData;
            formData.append('factura', file);
            formData.append('id_usuario', 1);
            ajax.addEventListener('load', generadaFactura, false);
            ajax.open('POST', 'https://tic-electronics-be.herokuapp.com/factura/', true);
            ajax.send(formData);
            function generadaFactura(event) {
                var fact = JSON.parse(event.target.responseText)
                const venta = {
                    'cantidad': 1,
                    'valor': product.precio,
                    'id_factura': fact.id,
                    'id_producto': product.id

                }
                axios.post(`https://tic-electronics-be.herokuapp.com/venta/`, venta, {headers: {},})
                .then(() => {
                alert("Registrado con exito")
                })
                .catch(() => {
                    alert("Algo ha fallado...")
                });
            }
            
        }
    },
    created: function (){
        this.recuperarParametro();
    }
}
</script>
<style>
.sale {
  padding: 0%;
  margin-top: 5%;
  min-height: 72vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}   
.btn-dark{    
    background-color: #1a1a1a;
    color: #fff;
    border:2px solid #1a1a1a;  
}
</style>