<template>
  <div class="list">
    <div class="row content-center">
      <div class="col" style="min-width: 250px" v-for="sale in sales" :key="sale">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-header bg-info">{{sale.id}}</div>
            <div class="card-body mt-0">
              <h5 class="card-title text-dark mb-2">Cantidad: {{sale.cantidad}}</h5>
              <p class="card-text mb-2">Valor: {{sale.valor}}</p>
              <p class="card-text">Factura: {{sale.id_factura}}</p>
              <div class="d-flex" v-if="rol =='Administrador'">
                <a class="w-100 btn-info text-decoration-none" v-on:click="deleteSale(sale)">Borrar</a>
              </div>             
            </div>
        </div>
      </div>
    </div>    
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: "CreateUser",
  data: function(){
    return {
    sales: [],
    rol: ""
    }
  },
  methods: {
    getData: async function () {
      if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();
      axios.get(`https://tic-electronics-be.herokuapp.com/ventas/`, {headers: {},})
        .then((result) => {
          var request = result.data
          this.sales = request
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    verifyToken: function () {
      return axios.post("https://tic-electronics-be.herokuapp.com/refresh/",{ refresh: localStorage.getItem("token_refresh") },{ headers: {} })
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    deleteSale: function (sale) {
      return axios.delete(`https://tic-electronics-be.herokuapp.com/venta/${sale.id}/`, {headers: {},})
      .then(() => {
          alert("Borrado con exito")
        })
        .catch(() => {
          alert('Algo ha salido mal...');
        });
    },
  },
  created: async function () {
    this.getData();
    this.rol = localStorage.getItem("rol")
  },
};
</script>
<style>
.list {
  padding: 0%;
  margin-top: 5%;
  min-height: 78vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basis{
  flex-basis: 10px;
}
</style>