<template>
    <div class="update_user">
        <div class="container_update_user">
            <h2 class="mb-3">Actualizar Usuario</h2>
            <form v-on:submit.prevent="processUpdateUser" id="form">
                <input type="text" v-model="user.nombre" class="form-control mb-2" placeholder="Nombre" autocomplete="off">
                <input type="password" v-model="user.password" class="form-control mb-2" placeholder="Contraseña" autocomplete="off">
                <select class="form-control mb-2" v-model="user.rol">
                    <option>Administrador</option>
                    <option>Vendedor</option>
                </select>
                <input type="number" v-model="user.numero_celular" class="form-control mb-2" placeholder="Celular" autocomplete="off">
                <button type="submit" class="btn btn-dark full-width">Enviar</button>                
            </form>
        </div>        
    </div>
</template>
<script>
import axios from 'axios';
export default {
    name: 'ProductV',
	data: function(){
		return{
			user: {},
		}
	},
    methods: {
        recuperarParametro: function () {
            this.user = this.$route.params
            console.log(this.user);
        },
        processUpdateUser: function () {
            const newData = {
                "nombre": this.user.nombre,
                "password": this.user.password,
                "rol": this.user.rol,
                "numero_celular": this.user.numero_celular
            }
            console.log(newData)
            axios.put(`https://tic-electronics-be.herokuapp.com/user/${this.user.id}/`, newData ,{headers: {}})
            .then(() => {
                alert("Registro Exitoso");
                document.getElementById('form').reset();
            })
            .catch((error) => {
                console.log(error)
                alert("ERROR: Fallo en el registro.");
            });
        }
    },
    created: function (){
        this.recuperarParametro();
    }
}
</script>
<style>
.update_user{
        padding: 0%;
        height: 88vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2px;
    }
    .container_update_user {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .update_user h2{
        color: #283747;
    }
    .update_user form{
        width: 70%;
    }     
    .full-width{
        width: 100%;
    }    
    .btn-dark{
        background-color: #1a1a1a;
        color: #fff;
        border:2px solid #1a1a1a; 
    }
</style>