<template>
	<div>
		<div class="header">
			<nav class="navbar navbar-expand-lg fixed-top">
				<div class="container">
					<a v-if="!is_auth" class="navbar-brand" v-on:click="loadHome"><i class="fas fa-gamepad"></i> Tic's Electronics</a>
					<a v-if="is_auth" class="navbar-brand" v-on:click="loadHomeUser"><i class="fas fa-gamepad"></i> Tic's Electronics</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="nav-item" v-if="!is_auth">
								<a class="nav-link btn-outline-success" v-on:click="loadProductsC">Productos</a>							
							</li>
							<li class="nav-item dropdown" v-if='is_auth'>
								<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultar</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" v-on:click="loadUsers">Usuarios</a>
									<a class="dropdown-item" v-on:click="loadProducts">Productos</a>
									<a class="dropdown-item" v-on:click="loadSales">Ventas</a>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link btn-outline-primary" v-if="!is_auth" v-on:click="loadLogIn">Iniciar Sesión</a>							
							</li>
							<li class="nav-item">
								<a class="nav-link btn-outline-primary" v-if="is_auth" v-on:click="logOut">Cerrar Sesión</a>						
							</li>
						</ul>						
					</div>
				</div>
			</nav>
		</div>

		<div>
			<router-view
			v-on:completedLogIn="completedLogIn"
			v-on:logOut="logOut">
			</router-view>
		</div>

		<div class="footer">
			<section id="footer" class="bg-black">
				<div class="container">
					<p><i class="fas fa-gamepad"></i> Tic's Electronics</p>
					<small>©2021 - All Rights Reserved.<br>Bogotá - Colombia</small>
				</div>
			</section>
		</div>
	</div>
</template>

<script>
export default {
	name: 'App',
	data: function(){
		return{
			is_auth: false,
			rol: ""
		}
	},
	components: {
	},
	methods:{
		verifyAuth: function() {
			this.is_auth = localStorage.getItem("isAuth") || false;
			if (this.is_auth == false)
			this.$router.push({ name: "home" });
			else
			this.$router.push({ name: "homeUser" });
		},
		loadHome: function() {
			this.$router.push({ name: "home" });		
		},
		loadHomeUser: function() {
			this.$router.push({ name: "homeUser" });
		},
		loadLogIn: function(){
			this.$router.push({name: "logIn"})
		},
		loadUsers: function() {
			this.$router.push({ name: "users" });
		},
		loadProducts: function() {
			this.$router.push({ name: "products" });
		},
		loadProductsC: function() {
			this.$router.push({ name: "productsC" });
		},
		loadSales: function() {
			this.$router.push({ name: "sales" });
		},
		logOut: function () {
			localStorage.clear();
			alert("Sesión Cerrada");
			this.verifyAuth();
		},
		completedLogIn: function(data) {
			localStorage.setItem("isAuth", true);
			localStorage.setItem("nombre", data.nombre);
			localStorage.setItem("token_access", data.token_access);
			localStorage.setItem("token_refresh", data.token_refresh);
			alert("Autenticación Exitosa");
			this.verifyAuth();
		},
	},
	mounted(){
		this.verifyAuth()
		let viewport = document.createElement('meta');
		viewport.name = "viewport";
		viewport.content = "width=device-width, initial-scale=1, shrink-to-fit=no";
		document.head.appendChild(viewport);
		let font = document.createElement('link');
		font.rel = "stylesheet";
		font.href = "https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap";
		document.head.appendChild(font);
		let fontx = document.createElement('link');
		fontx.rel = "stylesheet";
		fontx.href = "https://fonts.googleapis.com/css2?family=Alata&display=swap";
		document.head.appendChild(fontx);
		let jquery = document.createElement('script');
		jquery.src = "https://code.jquery.com/jquery-3.2.1.min.js";
		document.head.appendChild(jquery);
		let style = document.createElement('link');
		style.rel = "stylesheet";
		style.href = "styles.css";
		document.head.appendChild(style);
		let fawesome = document.createElement('script');
		fawesome.src = "https://kit.fontawesome.com/05907cb415.js";
		document.body.appendChild(fawesome);		
	}
}
</script>

<style>	
	body{
	font-family: 'Titillium Web', sans-serif;
	}
	h1{
		font-size: 66px;
		font-weight: 600;
		line-height: 80px;
	}
	h2{
		font-size: 48px;
		margin-bottom: 30px;
	}
	h3{
		font-size: 33px;
	}
	h5{
		margin-bottom: 0px;
	}
	p{
		font-size: 18px;
		color: #999;
		line-height: 1.8;
		margin-bottom: 0;
	}
	a:hover{
		text-decoration: none;
	}
	li a ion-icon{
		font-size: 18px;
		color: #fff; 
	color: #fff; 
		color: #fff; 
	}
	section{
		padding: 120px 0;
	}
	.bg-light-gray{
		background-color: #f5f5f5;
	}
	.bg-black{
		background-color: #1a1a1a;
	}
	.topmargin-lg{
		margin-top: 60px !important;
	}
	.topmargin-xs{
		margin-top: 15px !important;
	}
	.topmargin-sm{
		margin-top: 30px !important;
	}
	.topmargin-ssm{
		margin-top: 20px !important;
	}
	.full-width{
		width: 100%;
	}
	.btn{
		font-size: 14px;
		padding: 15px 26px;
		min-width: 160px;
		border-radius: 2px;
		display: inline-block; 
	}
	.btn-light{
		background-color: #fff;
		color: #1a1a1a;
		border: 2px solid #fff;
		font-weight: bold;
		font-size: 15px;
	}
	.btn-trans{
		background-color: transparent;
		color: #fff;
		border: 2px solid #fff;
	}
	.btn i{
		font-size: 14px;
		margin-left: 5px;
	}
	.text-dark{
		color:#1a1a1a;
		font-weight: bold;
	}
	.divider{
		border-bottom: 2px solid #f5f5f5;
	}
	.navbar{
		background-color: #ffffff;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
		min-height: 75px;
	}
	.navbar a{
		color: #1a1a1a;
	}
	.nav-link:hover{
		color: #1a1a1a;
	}
	.navbar-brand{
		min-width: 160px;
		max-width: 180px;
		color: #000;
		vertical-align: middle;
		padding: auto;
		font-family: 'Alata', sans-serif;
		font-weight: bold;
	}
	.navbar-toggler{
		font-size: 30px;
	}
	.navbar-toogler:focus{
		outline: dashed;
	}
	#hero p{
		color: #fff;
	}
	#hero i{
		font-size: 16px;
		vertical-align: middle;
	}
	.content-center{
		max-width: 800px;
		margin: 0 auto 60px auto;
		text-align: center;
	}	
	.img-fluid {
		max-width: 100%;
		height: auto;
	}
	.member-container{
		position: relative;
		margin: 10px 0;
	}
	.member-details{
		position: absolute;
		bottom: 0px;
		left: 20px; 
	left: 20px; 
		left: 20px; 
	}
	.member-details span{
		font-size: 14px;
	}
	.testimonial-user{
		max-width: 240px;
		margin: 0 auto;
		text-align: left;
	}
	.testimonial-user h6{
		margin-bottom: 0px;
		font-weight: 400px;
	}
	.testimonial-user span{
		font-size: 12px;	
	font-size: 12px;	
		font-size: 12px;	
	}
	.testimonal-user img{
		border-radius: 50%;
		max-width: 50px;
		text-align: center;
	}
	#footer{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin:0;
		padding: 20px 0;
		text-align: center;
		color: #fff;
	}
	#footer p{
		color: white;
		vertical-align: middle;
	}
	#footer a{
		color: #fff;
	}
	#footer a:hover{
		color: gray;
	}
	#footer .list-inline .list-inline-item{
		padding: 10px 15px;
	}

	@media (max-width: 575.98px) { }
	@media (max-width: 575.98px) { }
	@media (max-width: 575.98px) { 
		h1{
			font-size: 40px;
			line-height: normal;
		}
		.plans{
			min-width: unset;
			padding: 40px;
		}
		.portfolio-details h2{
			font-size: 32px;
		}
		.carousel-item p{
			font-size: 20px;		
		font-size: 20px;		
			font-size: 20px;		
		}
		.footer-menu{
			display: block !important;
			padding: 20px 0 !important;
			font-size: 20px;
		}
	}

	@media (min-width: 768px) and (max-width: 991.98px) {
		.plans{
			min-width: unset;
			padding: 40px 20px;
		}
		.portfolio-details h2{
			font-size: 30px;
		}
		.footer-menu{
			display: block !important;
			padding: 20px 0 !important;
			font-size: 20px;
		}
	}
</style>